{%extends 'base.html' %}
{%block body_block%}

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="" method="post">
            {%csrf_token%}
            <input type="text" class="btn btn-outline-primary"  name="password1" placeholder="enter the new password">
            <input type="text" class="btn btn-outline-dark"  name="password2" placeholder="confirm the new password">
            <input type="submit" value="reset">

        </form>
    </div>
    <div class="col"></div>
</div>


{%endblock%}